{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <div id="from_container" class="container">
        {% if app.user %}
            <div class="icones_container">
                <a href="{{ path("trick_edit",{"id" : trick.id}) }}">
                    <div class="icone"><i class="fa-solid fa-pen-to-square"></i></div>
                </a>
                <a href="{{ path("trick_delete",{"id" : trick.id}) }}">
                    <div class="icone trash"><i class="fa-solid fa-trash"></i></div>
                </a>
            </div>
        {% endif %}
        {% include 'trick/include/trick_top.twig' with {'editMode':false} %}
        <div id="main_infos_container">
            <div class="card">
                <article class="card-content">
                    {{ trick.description }}
                </article>
                <div id="infos_container" class="card-footer">
                    <div class="card-footer-item">
                        <p>Creating date : <strong>{{ trick.creatingDate|date("m/d/Y") }}</strong></p>
                    </div>
                    <div class="card-footer-item">
                        <p>Modifing date : <strong>{{ trick.modifingDate|date("m/d/Y") }}</strong></p>
                    </div>
                    <div class="card-footer-item">
                        <p>Groupe: <strong>{{ trick.groupe.name }}</strong></p>
                    </div>
                </div>
            </div>
            {% if app.user %}
                <hr>
                <div id="add_comment_container" class="box">
                    {{ form_start(form) }}
                    <h2>Trick's mains infos</h2>
                    {{ form_label(form.content,'') }}
                    {{ form_widget(form.content) }}
                    <div class="has-text-right">
                        {{ form_widget(form.save, { 'label': 'Submit me'}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
            {% if trick.comments is not empty %}
                <hr>
                <div id="comments">
                    {% for comment in comments %}
                        <div id="comment_{{ comment.id }}" class="card">
                            <div class="card-content comment_content">
                                {% if app.user and app.user.username == comment.user.username %}
                                <div class="icones_container">
                                    {% include 'trick/include/comment_edit_button.twig' with {'comment': comment} %}
                                    {% include 'trick/include/trash.twig' with {'id': comment.id,'entity':'comment','path': path("trick_delete_comment",{"id" : comment.id}),'redirect':true} %}
                                </div>
                                {% endif %}
                                {{ comment.content }}
                            </div>
                            <div class="card-footer comment_footer">
                                <span> <img class="avatar" src="{{ comment.user.username|avatar }}"
                                            alt="avatar"><strong>{{ comment.user.username }}</strong></span>
                                <span><strong>{{ comment.createdDate|date("m/d/Y") }}</strong></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% set pagination = pagination(page,trick.comments|length,3) %}
                    <div class="pagination text-center">
                        {% for i in pagination.start..pagination.end %}
                            <a href="{{ path("trick_show",{"slug" : trick.slug})}}?page={{ i+1 }}#comments" class="{% if i+1 == page %}active{% endif %}">{{ i+1 }}</a>
                            {% if(pagination.end != i) %} <span> - </span>{% endif %}
                        {% endfor %}
                    </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
